body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e24;
    color: #00a5cf;
    font-family: monospace;
    background-image: url(/images/Bg.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

canvas {
    border: 10px solid #3A0CA3;
    background: #000;
}

#assets {
    display: none;
}

#ui {
    position: absolute;
    top: 20px;
    text-align: center;
    pointer-events: none;
}